$sizes: (0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20);

// Define margin helper classes like .mt-2 { margin-top: px2rem(2px); }
@each $size in $sizes {
  .mt-#{$size} {
    margin-top: px2rem($size) !important;
  }

  .mr-#{$size} {
    margin-right: px2rem($size) !important;
  }

  .mb-#{$size} {
    margin-bottom: px2rem($size) !important;
  }

  .ml-#{$size} {
    margin-left: px2rem($size) !important;
  }
}
