.main-header {
  align-items: center;
  background-color: white;
  border-bottom: px2rem(1) solid $gray-20;
  display: flex;
  height: px2rem(67);

  .left-nav {
    flex-basis: 50%;
  }

  .logo {
    margin-bottom: px2rem(-8);
  }

  .right-nav {
    flex-basis: 50%;
    text-align: right;
  }
}
